<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Todo App</title>
</head>
<body>
    <br>
    <br>
    <header>
        <center><h1>Login to Todo App</h1></center>
    </header>
    <br>
    <br>
    <center>
    <main>
        <form method="post" action="/a">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit" value ="submit">Login</button>
        </form>
        <br>
        <br>

        <p>Don't have an account? <a href="signup.html">Sign up here</a>.</p>
    </main></center>

</body>
</html>