<!DOCTYPE html>
<html>
<head>
  <title>Login Form</title>
  <link rel="stylesheet" href="style.css">
</head>
<body style="background: linear-gradient(to bottom right, #f5f7fa, #c3cfe2);
font-family: Arial, sans-serif;">
  <div class="login-container">
    <div class="logo"><img src="./img/logo.jpeg" alt="LOGO" style="height: 100px;"></div>
    <div class="greeting">Welcome back!</div>
    <div>User Login</div>
    <input type="text" class="form-input" placeholder="Email">
    <input type="password" class="form-input" placeholder="Password">
    <button class="login-button">Login</button>
    <div class="forgot-password"><a href="#">Forgot Password</a></div>
    <div class="register"><a href="./signup.html">Sign-Up</a></div>
  </div>
</body>
</html>


