<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body style="background: linear-gradient(to bottom right, #f5f7fa, #c3cfe2);">
    <div class="login-container">
        <div class="container">
            <h2>Create account</h2>
            <form>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required autofocus>
    
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
    
                <button type="submit" class="create-button">Create account</button>
            
                <div class='google-signup'>
                    <img src='./img/gogglelogo.png' style="height: 30px;" alt='Google logo'>
                    Sign up with Google
                </div>
            </form>
            <p>Have an account? <a href="./login.html">Log in</a></p>
        </div>
    </div>
</body>
</html>

